.producer {
    padding: 10px;
    background-color: #00808041;
    border-style: solid;
    border-color: #008080;
}

.producer-disabled {
    padding: 10px;
    background-color: #00808011;
    border-style: solid;
    border-color: #00808022;
    color: #00808022;
}
