@namespace BlazorApp.Components

@inject State State;

<div class="producer">
    <h3>Producer</h3>
    <input type="text" placeholder="message" @bind="message" />
    <button @onclick="Produce">Produce</button>
</div>

@code {
    private string message = string.Empty;

    private void Produce() {
        State.AddMessage(0, this.message);
        Console.WriteLine("produce");
    }
}