@page "/"

@using BlazorApp.Components.Broker
@using BlazorApp.Components.Consumer
@using BlazorApp.Components.Producer

<div class="main">
    <div class="producers">
        <Producer/>
    </div>
    <div class="topics">
        <Topic/>
    </div>
    <div class="consumers">
        <Consumer/>
        <Consumer/>
        <Consumer/>
    </div>
</div>