@page "/"
@rendermode InteractiveServer
@using BlazorApp.Components

<div class="main">
    <div class="producers">
        <Producer/>
    </div>
    <div class="topics">
        <Topic/>
    </div>
    <div class="consumers">
        <Consumer/>
        <Consumer/>
        <Consumer/>
    </div>
</div>