@namespace BlazorApp.Components

<div class="message">
    <div>
        key: @Data.Key
    </div>
    @Data.Value

    <div>
        <span>dur: </span> @Data.Duration
    </div>
</div>

@code {
    [Parameter]
    public Model.Message Data { get; set; }
}