@namespace BlazorApp.Components

<div class="partition">
    <h3>Partition @Data?.Index</h3>

    <div class="messages">
        @foreach (var message in Data?.Messages ?? new Dictionary<Guid, Model.Message>())
        {
            <Message Data="@message.Value"/>
            @if (message.Value.CommittedBy.Contains("temporary"))
            {
                <div>Committed</div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public Model.Partition? Data { get; set; }
}