@namespace BlazorApp.Components

<div class="partition">
    <h3>Partition @Data?.Index</h3>

    <div class="messages">
        @foreach (var message in Data?.Messages ?? Enumerable.Empty<Model.Message>())
        {
            <Message Data="@message"/>
        }
    </div>
</div>

@code {
    [Parameter]
    public Model.Partition? Data { get; set; }
}