.partition {
    background-color: #803e003b;
    padding: 10px;
    border-style: solid;
    border-color: #803e00;
}

.messages {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 100px);
}