@namespace BlazorApp.Components
@inject State State;

<div class="topic">
    <h1>Topic </h1> <button @onclick="Sync">Sync</button>
    <div class="partitions">
        @foreach (var partition in State.Partitions) {
            <Partition Messages="@partition.Messages" />
        }
    </div>
</div>

@code {
    private void Sync() {
        Console.WriteLine("syncing...");
        State.AddPartition();
    }
}