@namespace BlazorApp.Components
@inject State State;

<div class="topic">
    <h3>Topic <button @onclick="Sync">Sync</button></h3>
    <div class="partitions">
        @foreach (var partition in State.Partitions) {
            <Partition Messages="@partition.Messages" />
        }
    </div>
</div>

@code {
    protected override void OnInitialized() {
        base.OnInitialized();

        State.StateChanged += OnStateChanged;
    }

    private void OnStateChanged(object? sender, EventArgs args) {
        InvokeAsync(StateHasChanged);
    }

    private void Sync() {
        Console.WriteLine("syncing...");
        State.Clear();
        State.AddPartition();
    }
}