@namespace BlazorApp.Components

<select @onchange="OnTopicChanged">
    @foreach (var existingTopic in State.ExistingTopics)
    {
        <option value="@existingTopic">@existingTopic</option>
    }
</select>

@code {
    [Parameter]
    public string Topic { get; set; } = State.ExistingTopics[0];

    [Parameter]
    public EventCallback<string> TopicChanged { get; set; }

    private void OnTopicChanged(ChangeEventArgs e)
    {
        if(e.Value == null)
        {
            return;
        }

        var valueToString = e.Value.ToString();
        if(valueToString == null)
        {
            return;
        }

        Topic = valueToString;
        TopicChanged.InvokeAsync(valueToString);
    }
}
