@namespace BlazorApp.Components
@inject State State;

<div class="topic">
    <h1>Topic </h1> <button @onclick="Sync">Sync</button>
    @foreach (var partition in State.Partitions) {
        State.Partitions.Add(new Model.Partition());
    }
</div>

@code {
    private void Sync() {
        Console.WriteLine("synced");
    }
}