@namespace BlazorApp.Components
@inject State State;

<div class="topic">
    <h1>Topic <button>Sync</button></h1> 
    @foreach (var partition in State.Partitions) {
        <Partition />
    }
</div>